<launch>
  <arg name="gui" default="true" />
  <arg name="map_file" default="$(find event_guide_robot)/maps/map.yaml" />
  <arg name="image_topic" default="/camera/rgb/image_raw" />
  <arg name="model" default="waffle_pi" />
  <arg name="initial_pose_x" default="0.0" />
  <arg name="initial_pose_y" default="0.0" />
  <arg name="initial_pose_a" default="0.0" />

  <include file="$(find event_guide_robot)/launch/gazebo_event_world.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="model" value="$(arg model)" />
    <arg name="x_pos" value="$(arg initial_pose_x)" />
    <arg name="y_pos" value="$(arg initial_pose_y)" />
    <arg name="yaw" value="$(arg initial_pose_a)" />
  </include>

  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <include file="$(find event_guide_robot)/launch/guide_system.launch">
    <arg name="image_topic" value="$(arg image_topic)" />
  </include>
</launch>
