<launch>
  <arg name="semantic_map" default="$(find event_guide_robot)/config/semantic_map.yaml" />
  <arg name="search_params" default="$(find event_guide_robot)/config/search_params.yaml" />
  <arg name="prm_params" default="$(find event_guide_robot)/config/prm_params.yaml" />
  <arg name="map_file" default="$(find event_guide_robot)/maps/map.yaml" />
  <arg name="image_topic" default="/raspicam_node/image" />
  <arg name="semantic_plan_topic" default="/guide/plan" />
  <arg name="navigation_plan_topic" default="/guide/navigation_plan" />

  <node pkg="event_guide_robot"
        type="semantic_planner_node.py"
        name="semantic_planner_node"
        output="screen">
    <param name="semantic_map" value="$(arg semantic_map)" />
  </node>

  <node pkg="event_guide_robot"
        type="prm_planner_node.py"
        name="prm_planner_node"
        output="screen">
    <rosparam command="load" file="$(arg prm_params)" />
    <param name="map_file" value="$(arg map_file)" />
    <param name="input_plan_topic" value="$(arg semantic_plan_topic)" />
    <param name="output_plan_topic" value="$(arg navigation_plan_topic)" />
  </node>

  <node pkg="event_guide_robot"
        type="prm_trajectory_follower_node.py"
        name="prm_trajectory_follower_node"
        output="screen">
    <rosparam command="load" file="$(arg prm_params)" />
    <param name="plan_topic" value="$(arg navigation_plan_topic)" />
  </node>

  <node pkg="event_guide_robot"
        type="local_search_manager_node.py"
        name="local_search_manager_node"
        output="screen">
    <rosparam command="load" file="$(arg search_params)" />
  </node>

  <node pkg="event_guide_robot"
        type="vision_detector_node.py"
        name="vision_detector_node"
        output="screen">
    <param name="semantic_map" value="$(arg semantic_map)" />
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="marker_size_m" value="0.16" />
    <param name="horizontal_fov_rad" value="1.085595" />
  </node>
</launch>
